* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(82, 82, 82, 0);
    border-bottom: 3px solid rgba(100, 114, 125, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: rgba(39, 46, 51, 0.9);
    color: rgba(178, 178, 178, 0.9);
}

#workspaces button.active {
	color: #FFFFFF;
    background-color: rgba(30, 35, 37, 1);
	box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
    background: rgba(30, 35, 37, 0.9);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#battery,
#backlight,
#network {
	border-radius: 10px;
	min-width: 170px;
	background-color: rgba(39, 46, 51, 1);
}
#power-profiles-daemon,

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	border-radius: 10px;
    background-color: rgba(39, 46, 51, 1);
	min-width: 40px;
}

#battery {
	border-radius: 10px;
    background-color: rgba(39, 46, 51, 1);
	min-width: 85px;
    color: #FFFFFF;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: rgba(39, 46, 51, 1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#backlight {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
    background-color: rgba(39, 46, 51, 1);
	min-width: 80px;
	margin-right: -10px;
}
#backlight-slider {

	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -4px;
	background-color: rgba(39, 46, 51, 1);
}
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    background-image: none;
	background-color: #333C43;
    border: none;
    box-shadow: none;
}
#backlight-slider trough {
    min-width: 50px;
	min-height: 10px;
    border-radius: 5px;
    background-color: #606060;
}
#backlight-slider highlight {
	min-height: 10px;
    border-radius: 5px;
	border-color: white;
    background-color: #434F55;
}
#custom-power {
	border-radius: 20px;
	min-width: 30px;
	background-color: rgba(39, 46, 51, 1);
	margin-right: 5px;
}
